* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black; /* Set background color here */
}

.banner {
    flex: 0 0 auto;
    background-color: black;
    padding: 20px 10%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.output-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black; /* Set background color here */
}

.col-sm{
    background-color:white;
    width: 1000px;
    height: 650px;
    border-radius: 35px;
    object-fit: contain;
    margin:40px;
  }

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.new{ 
    color: aliceblue; 
} 

img.yolo_output{ 
    /* width: 1000px;
    height: 600px; */
    width: 1000px;
    height: 650px;
    border-radius: 35px;
}